.container {
    text-align: center;
}

a {
    color:blue;
    text-decoration: none;
}

.alert.success {
    color:#3cba54;
}

.alert.error {
    color:#db3236;
}

#delete {
    color:#db3236;
    text-decoration: none;
}

#shoplist {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0px 20px 10px;
    width: fit-content;
    display: inline-block;
}